.mt-3 { margin-top: 3px; }
.mt-5 { margin-top: 5px; }
.mt-8 { margin-top: 8px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.mt-75 { margin-top: 75px; }

.mb-3 { margin-bottom: 3px; }
.mb-5 { margin-bottom: 5px; }
.mb-8 { margin-bottom: 8px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mb-75 { margin-bottom: 75px; }


.ml-3 { margin-left: 3px; }
.ml-5 { margin-left: 5px; }
.ml-8 { margin-left: 8px; }
.ml-12 { margin-left: 12px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }

.mr-3 { margin-right: 3px; }
.mr-5 { margin-right: 5px; }
.mr-8 { margin-right: 8px; }
.mr-12 { margin-right: 12px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }

.no-pad { padding: 0 !important; }
