@import 'variables';
@import 'utilities';

.page-name {
    display: inline-block;
    font-size: 21px;
    margin-top: 15px;
}

.card {

    &.card-modal {
        margin-bottom: 0;
        padding: 0 15px;

        .content {
            padding-bottom: 20px;
        }

        table {
            border-bottom: 1px solid $s-dark;
        }
    }
}

.box {
    border: 1px solid $s-light-gray;
    padding: 0;
    border-radius: 6px;
}

.btn {
    &.btn-icon {
        padding-left: 10px;
        padding-right: 15px;
    }
}

.no-items {
    color: $s-gray;
    font-size: 18px;
}

.gallery-image {
    cursor: pointer;
}

.vue-dialog-button {
    text-transform: uppercase;
    color: $s-soft-gray !important;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

select, input[type="file"] {
    cursor: pointer;
}


.table {

    &.sortable {

        th {
            padding: 8px 0;

            &.sortable {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}


.btn-sm {
    font-size: 14px;
    padding: 4px 7px;
}

//спиннер обновления таблицы элементов
.list-update {
    color: $s-gray;
    font-size: 24px;
    display: inline-block;

    &.top {
        margin-top: 27px;
    }
}


/*----- Slide Down Transition ----------------*/

.slide-down-enter-active {
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-down-leave-active {
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.slide-down-enter-to,
.slide-down-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-down-enter,
.slide-down-leave-to {
    max-height: 0;
    overflow: hidden;
}

/*-----------------------*/


/*-------- Animations --------------*/

.anim-rotate {
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

.anim-blink-soft {
    animation: blink-soft 1.6s linear infinite;
}

@keyframes blink-soft {
    50% {
        opacity: 0;
    }
}

/* ------------------------- */
