@import 'variables';
@import 'utilities';
@import "mixins";

.vm--modal {
    margin-top: 1vh;
    max-height: 90vh !important;
    overflow: auto !important;
}

.login-form-row {
    padding: 0 !important;

    @include maxw(990) {
        padding: 0 30px !important;
    }
}

.error {
    color: $red;
    font-weight: lighter;
    display: block;
}

.page-name {
    display: inline-block;
    font-size: 21px;
    margin-top: 15px;

    @include maxw(768) {
        margin-left: 15px;
    }
}

.scroll-x-box {

    @include minmaxw(768,1500) {
        overflow-x: scroll;
    }
}

.top-user-mobile {
    display: inline-block;
    float: right !important;
    position: relative;
    right: 50px;

    .navbar-nav > li > a {
        color: $s-dark;
    }

    @include minw(990) {
        display: none;
    }
    @include maxw(520) {
        right: 20px;
    }
}

.card {

    &.card-modal {
        margin-bottom: 0;
        padding: 0 15px;

        .content {
            padding-bottom: 20px;
        }

        table {
            border-bottom: 1px solid $s-dark;
        }
    }
}

.btn {
    margin-top: 3px;

    &.btn-icon {
        padding-left: 10px;
        padding-right: 15px;
    }
}

.form-error-msg {
    color: $red;
    margin-top: 3px;
    display: block;
}

.app-logo-text {
    color: $s-dark-gray;
    font-size: 21px;
    padding: 10px;
}

.login-box {
    margin-top: 15vh;
}

.user-top-icon {
    font-size: 18px;
    color: $s-dark-gray;
    margin-right: 3px;
}
.user-top-name {
    font-size: 16px;
    color: $s-soft-gray;
    margin-right: 5px;
}
.user-logout-btn {
    display: inline-block !important;
}

.no-items {
    color: $s-gray;
    font-size: 18px;
}

.gallery-image {
    cursor: pointer;
}

.vue-dialog-button {
    text-transform: uppercase;
    color: $s-soft-gray !important;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

select, input[type="file"] {
    cursor: pointer;
}


.table {

    &.sortable {

        th {
            padding: 8px 0;

            &.sortable {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}


.btn-sm {
    font-size: 14px;
    padding: 4px 7px;
}

//спиннер обновления таблицы элементов
.list-update {
    color: $s-gray;
    font-size: 24px;
    display: inline-block;

    &.top {
        margin-top: 27px;
    }
}


.box {
    border: 1px solid $s-light-gray;
    padding: 0;
    border-radius: 6px;
}

.btn-box {
    display: inline-block;
}

#boxed-list {

    .update-list-btn {
        min-width: 35px;
        position: relative;
        right: 12px;

        @include maxw(990) {
            top: 0;
            left: 0;
        }
    }

    .list {

        padding-left: 15px;
        padding-right: 15px;
        margin: 20px 0;

        .boxed-list-box {

            padding: 10px;
            margin-bottom: 10px;

            .data-top {
                padding: 0;
                margin-bottom: 6px;
            }

            .data-line {
                display: block;
                color: $s-soft-gray;

                i {
                    color: $s-dark-gray;
                    margin-right: 5px;
                }
            }
        }
    }
}


.users-list {

    .top-panel-btn {
        position: relative;
        top: 28px;
    }

    .new-user-btn {
        margin-bottom: 10px;
    }

    .user-name {
        font-size: 18px;
    }

    .user-address {
        font-size: 16px;
    }
}


/*----- Slide Down Transition ----------------*/

.slide-down-enter-active {
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-down-leave-active {
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.slide-down-enter-to,
.slide-down-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-down-enter,
.slide-down-leave-to {
    max-height: 0;
    overflow: hidden;
}

/*-----------------------*/


/*-------- Animations --------------*/

.anim-rotate {
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

.anim-blink-soft {
    animation: blink-soft 1.6s linear infinite;
}

@keyframes blink-soft {
    50% {
        opacity: 0;
    }
}

/* ------------------------- */
