.page-name {
  display: inline-block;
  font-size: 21px;
  margin-top: 15px;
}

.card .content div {
  margin-bottom: 10px;
}

.btn.btn-icon {
  padding-left: 10px;
  padding-right: 15px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

select,
input[type=file] {
  cursor: pointer;
}

#productsList .prod-image {
  max-height: 70px;
}

/*----- Slide Down Transition ----------------*/

.slide-down-enter-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.slide-down-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.slide-down-enter-to,
.slide-down-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-down-enter,
.slide-down-leave-to {
  max-height: 0;
  overflow: hidden;
}

/*-----------------------*/

