.mt-3 {
  margin-top: 3px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-75 {
  margin-top: 75px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-75 {
  margin-bottom: 75px;
}

.ml-3 {
  margin-left: 3px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-3 {
  margin-right: 3px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.page-name {
  display: inline-block;
  font-size: 21px;
  margin-top: 15px;
}

.btn.btn-icon {
  padding-left: 10px;
  padding-right: 15px;
}

.no-items {
  color: #999;
  font-size: 18px;
}

.gallery-image {
  cursor: pointer;
}

.vue-dialog-button {
  text-transform: uppercase;
  color: #9A9A9A !important;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

select,
input[type=file] {
  cursor: pointer;
}

.table.sortable th {
  padding: 8px 0;
}

.table.sortable th.sortable {
  cursor: pointer;
  text-decoration: underline;
}

.pagination a:focus,
.pagination span:focus {
  outline: none;
}

.pagination li a,
.pagination li a:focus,
.pagination li a:hover,
.pagination li span,
.pagination li span:focus,
.pagination li span:hover {
  padding: 9px 16px;
  color: #333;
}

.pagination .active a,
.pagination .active a:focus,
.pagination .active a:hover,
.pagination .active span,
.pagination .active span:focus,
.pagination .active span:hover {
  background-color: #1DC7EA;
  border-color: #ddd;
}

#productsList .prod-image {
  max-height: 70px;
}

#productsList .btn-sm {
  font-size: 14px;
  padding: 4px 7px;
}

#productsList .list-update {
  color: #999;
  font-size: 24px;
  display: inline-block;
}

#productsList .list-update.top {
  margin-top: 27px;
}

/*----- Slide Down Transition ----------------*/

.slide-down-enter-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.slide-down-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.slide-down-enter-to,
.slide-down-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-down-enter,
.slide-down-leave-to {
  max-height: 0;
  overflow: hidden;
}

/*-----------------------*/

/*-------- Animations --------------*/

.anim-rotate {
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.anim-blink-soft {
  -webkit-animation: blink-soft 1.6s linear infinite;
          animation: blink-soft 1.6s linear infinite;
}

@-webkit-keyframes blink-soft {
  50% {
    opacity: 0;
  }
}

@keyframes blink-soft {
  50% {
    opacity: 0;
  }
}

/* ------------------------- */

